nav {
  height: 50px;
  width: 100%;
  background-color: #03a596;
  padding: 0px 2em;
  align-content: center;
  position: fixed;
  top: 0;
  z-index: 1;
  color: #FFFFFF; }
  nav #codeicon {
    padding-top: 1em; }

.row {
  padding-top: 1em; }

.col-8 {
  max-width: 50%;
  margin-left: 9em; }

.col-4 {
  max-width: 21%;
  margin-left: 7em;
  padding: 1em 0em 1em 2em;
  background-color: #ebecec; }

a {
  color: #03a596;
  text-decoration: none; }

a:hover {
  color: #22252a;
  text-decoration: underline; }

#name {
  margin-top: 75px; }

h1 {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 5em;
  text-align: center;
  padding-top: 4rem; }

h4 {
  color: #03a596;
  font-weight: 800; }

#contact {
  text-align: center; }
  #contact a {
    color: black; }

.contact-icon {
  color: #22252a; }

.topHR {
  width: 60%; }

hr {
  width: 100%; }

#about {
  width: 60%;
  margin: auto;
  text-align: center; }

#dropdown {
  visibility: hidden; }

@media (max-width: 1000px) {
  p {
    font-size: .9em; }
  h1 {
    font-size: 3em; }
  h4 {
    font-size: 1.25em; }
  ul {
    font-size: .9em; }
  .col-8 {
    min-width: 90%;
    margin: 0em 1em 0em 2em;
    padding: 0em; }
  .col-4 {
    min-width: 100%;
    text-align: center;
    background-color: #ebecec;
    padding: 1em 0em 0em 0em;
    margin: 0em; }
  #about {
    width: 90%; }
  #dropdown {
    visibility: visible;
    float: right;
    padding-top: .25em; }
  #dropdownbutton {
    background-color: #03a596;
    color: #FFFFFF; } }

@media (max-width: 400px) {
  p {
    font-size: .8em; }
  h1 {
    font-size: 3em; }
  h4 {
    font-size: 1em; }
  ul {
    font-size: .8em; }
  .col-8 {
    min-width: 90%;
    margin: 0em 1em 0em 2em;
    padding: 0em 1em 0em 0em; } }
