@import 'variables';

nav {
  height: 50px;
  width: 100%;
  background-color: $teal;
  padding: 0px 2em;
  align-content: center;
  position: fixed;
  top: 0;
  z-index: 1;
  color: $white;
}

.row {
  padding-top: 1em;
}

.col-8 {
  max-width: 50%;
  margin-left: 10rem;
}

.col-4 {
  max-width: 20%;
  margin-left: 8rem;
  padding: 1em 0em 1em 2em;
  background-color: $white;
}

a {
  color: #22252a;
}

a:hover {
  color: #03a596;
  text-decoration: none;
}

#name {
  margin-top: 75px;
}

h1 {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 5em;
  text-align: center;
}

h4 {
  color: #03a596;
  font-weight: 800;
}

#contact {
  text-align: center;
}

.topHR {
  width: 60%;
}

hr {
  width:  100%;
}

#about {
  width: 60%;
  margin: auto;
  text-align: center;
}