@import 'variables';

nav {
  height: 50px;
  width: 100%;
  background-color: $teal;
  padding: 0px 2em;
  align-content: center;
  position: fixed;
  top: 0;
  z-index: 1;
  color: $white;

  #codeicon {
    padding-top: 1em;
  }
}

.row {
  padding-top: 1em;
}

.col-8 {
  max-width: 50%;
  margin-left: 9em;
}

.col-4 {
  max-width: 21%;
  margin-left: 7em;
  padding: 1em 0em 1em 2em;
  background-color: $grey;
}

a {
  color: $teal;
  text-decoration: none;
}

a:hover {
  color: $black;
  text-decoration: underline;
}

#name {
  margin-top: 75px;
}

h1 {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 5em;
  text-align: center;
  padding-top: 4rem;
}

h4 {
  color: $teal;
  font-weight: 800;
}

#contact {
  text-align: center;
}

.contact-icon {
  color: $black;
}

.topHR {
  width: 60%;
}

hr {
  width:  100%;
}

#about {
  width: 60%;
  margin: auto;
  text-align: center;
}

#dropdown {
  visibility: hidden;
}

@media (max-width: $breakpoint) {

  p {
    font-size: .9em;
  }

  h1 {
    font-size: 3em;
  }

  h4 {
    font-size: 1.25em;
  }

  ul {
    font-size: .9em;
  }

  .col-8 {
    min-width: 90%;
    margin: 0em 1em 0em 2em;
    padding: 0em;
  }

  .col-4 {
    min-width: 100%;
    text-align: center;
    background-color: $grey;
    padding: 1em 0em 0em 0em;
    margin: 0em;
  }

  #about {
    width: 90%
  }

  #dropdown {
    visibility: visible;
    float: right;
    padding-top: .25em;
  }
  
  #dropdownbutton {
    background-color: $teal;
    color: $white;
  }
}

@media (max-width: 400px) {
  p {
    font-size: .8em;
  }

  h1 {
    font-size: 3em;
  }

  h4 {
    font-size: 1em;
  }

  ul {
    font-size: .8em;
  }

  .col-8 {
    min-width: 90%;
    margin: 0em 1em 0em 2em;
    padding: 0em 1em 0em 0em;;
  }
}